body{
    background-color: black;
}
.catTitle{
    margin: 1rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
.highlightedWords{
    color: rgb(144, 25, 25);
    font-weight: 600;
}
#trendingGames{
    margin: 1rem;
}
#trendingGames .container-fluid{
    border: 1px solid rgb(0, 0, 0);
    background-color: #161a1d;
    border-radius: 0.5rem;
}
#trendingGames .row{
    border: 1px solid rgb(0, 0, 0);
}
#trendingGames .col{
    margin: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 0.5s;
    padding: 0;
    /* box-shadow: -2px 4px rgb(159, 159, 159); */
}
#trendingGames .col .container{
    font-weight: 400;
    text-align: center;
    color: white;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    z-index: 2;
    transition: all 0.25s;
}
#trendingGames img{
    width: 100%;
    transition: all 0.5s;
    z-index: 1;
}
#trendingGames .col:hover{
    border-radius: 0.5rem;
    transform: scale(0.96);
}
#trendingGames .col:hover img{
    transform: scale(1.3);
}
#trendingGames .col:hover .container{
    opacity: 1;
    background-color: #161a1dae;
}

#YT_videos .row div{
    margin: 10px;
    padding: 0%;
    

}

#YT{
    margin: 10px;
}

#YT_videos{
    background: #24262B;
    border-radius: 10px;

}
#YT_title{
   
    color: white;
}

#YT_videos .row div a img{
    max-width: 61%;
    height: 100%;
    margin-left: 49px;
}

#channels{
    margin: 12px;
    background:#24262B;
}
.size{
    width: 20vw;
    height: 40vh;
}
#coms{
    color: white;
   
}
.pos{
    position: relative;
    left: 22px;
    font-size: 2rem;

}

.expand{
    transition: all 0.5s;
  
}
.expand:hover{
    transform: scale(1.5);
    z-index: 1;
}